############################
# Archivos de usuario
############################
*.suo
*.user
*.userosscache
*.sln.docstates

############################
# Archivos de compilación
############################
bin/
obj/
[Bb]uild/
[Bb]uilds/
[Ll]og/
[Ll]ogs/
*.log
*.tlog

############################
# Configuración de VS / IDE
############################
.vs/
*.orig
*.cache
*.psess
*.vsp
*.vspx
*.vspscc
*_i.c
*_p.c
*.ncb
*.sbr

############################
# Dependencias externas
############################
packages/
node_modules/
bower_components/
.sass-cache/

############################
# Archivos de base de datos
############################
*.mdf
*.ldf
*.ndf
*.db
*.dbmdl

############################
# Archivos comprimidos / multimedia
############################
*.zip
*.rar
*.7z
*.gz
*.tar
*.mp4
*.mov
*.avi
*.wmv

############################
# Archivos temporales
############################
*.tmp
*.bak
*.backup
*.swp
*.DS_Store
Thumbs.db

############################
# Publicaciones
############################
Publish/

############################
# Otros
############################
*.sublime-project
*.sublime-workspace
